<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assignment.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @assignment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @assignment.end_date %>
</p>

<p>
  <strong>Point:</strong>
  <%= @assignment.point %>
</p>

<p>
  <strong>Course instance:</strong>
  <%= @assignment.course_instance.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assignment.status %>
</p>

<p>
  <strong>Max attempt:</strong>
  <%= @assignment.max_attempt %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>

<div class="row">
  <% if @assignment.rubric.nil? %>
    <%= link_to "Add rubric", new_rubric_path(:assignment_id => @assignment.id), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "View rubric", rubric_path(@assignment.rubric), class: 'btn btn-secondary' %>
  <% end %>
</div>