<%= semantic_form_for graded_rubric do |form| %>

  <!--  Display errors if have any-->
  <%# if graded_rubric.errors.any? %>
  <!--    <div id="error_explanation" class="row">-->
  <!--      <h2><%#= pluralize(graded_rubric.errors.count, "error") %> prohibited this graded_rubric from being saved:</h2>-->

  <!--      <ul>-->
  <%# graded_rubric.errors.full_messages.each do |message| %>
  <!--          <li><%#= message %></li>-->
  <%# end %>
  <!--      </ul>-->
  <!--    </div>-->
  <%# end %>

  <!-- Grading Criteria -->
  <table class="table">
    <thead>
    <tr>
      <th colspan="1">#</th>
      <th colspan="1">Weight</th>
      <th colspan="5">Description</th>
      <th colspan="1">Point</th>
      <th colspan="4">Comment</th>
    </tr>
    </thead>
    <tbody>
    <%= form.inputs :name => "Criteria" do %>
      <%= form.semantic_fields_for :graded_criteriums do |criteria| %>
        <tr>
          <th colspan="1"><%= criteria.object.index %></th>
          <td colspan="1"><span><%= criteria.object.weight %></span></td>
          <td colspan="5">
            <span><%= criteria.object.description %></span>
          </td>
          <td colspan="1">
            <% if criteria.object.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
              <%= criteria.input :status, :label => false, :as => :select, :default => Constants::GRADED_CRITERIA_STATUS_NOTGRADED %>
            <% else %>
              <%= criteria.input :point %>
            <% end %>
          </td>
          <td colspan="4"><%= criteria.input :comment, as: :text, :label => false, :input_html => {:rows => 5} %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>

  </table>

  <!--    Comment chung-->
  <%= form.inputs :name => "Comment" do %>
    <%= form.input :comment, :input_html => {:rows => 5} %>
  <% end %>

  <!--  Submit area-->
  <%= form.actions do %>
    <%= form.action :submit, :label => "Submit grade" %>
  <% end %>
<% end %>