<%= semantic_form_for graded_rubric do |form| %>

  <!--  Display errors if have any-->
  <% if graded_rubric.errors.any? %>
    <div id="error_explanation" class="row">
      <h2><%= pluralize(graded_rubric.errors.count, "error") %> prohibited this graded_rubric from being saved:</h2>

      <ul>
        <% graded_rubric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Grading Criteria -->
  <%= form.inputs :name => "Criteria" do %>
    <%= form.semantic_fields_for :graded_criteriums do |criteria| %>
      <strong><%= "Criteria #{criteria.object.index}" %></strong>
      <%= criteria.input :description, :input_html => {:rows => 2, :disabled => true, :class => 'autogrow'} %>
      <% if criteria.object.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
        <%= criteria.input :status, :as => :select, :default => Constants::GRADED_CRITERIA_STATUS_NOTGRADED %>
      <% else %>
        <%= criteria.input :point %>
      <% end %>
      <%= criteria.input :comment, as: :text, :input_html => {:rows => 5} %>
      <%= criteria.input :weight, :input_html => {:disabled => true} %>
      <hr>
    <% end %>
  <% end %>
  <!--    Comment chung-->
  <%= form.inputs :name => "Comment" do %>
    <%= form.input :comment, :input_html => {:rows => 5} %>
  <% end %>

  <!--  Submit area-->
  <%= form.actions :submit, :label => "Submit grade" %>
<% end %>