<% unless can_not_be_regrade_criteriums.size.zero? %>
  <h4>Previous graded criteria</h4>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Weight</th>
      <th style="width: 30%;">Meet the specification</th>
      <th>Point</th>
      <th style="width: 20%;">Comment</th>
      <th>Mandatory</th>
    </tr>
    </thead>
    <tbody>
    <% can_not_be_regrade_criteriums.each do |criteria| %>
      <tr>
        <th><%= criteria.index %></th>
        <td><span><%= criteria.weight %></span></td>
        <td><span><%= criteria.meet_the_specification %></span></td>
        <td>
          <% if criteria.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
            <span><%= criteria.status %></span>
          <% else %>
            <span><%= criteria.point %></span>
          <% end %>
        </td>
        <td><span><%= criteria.comment %></span></td>
        <td>
          <span><%= criteria.mandatory ? 'yes' : 'no' %></span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>