<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('assignment.submission_grade.label.weight') %></th>
      <th style="width: 30%;"><%= t('assignment.submission_grade.label.meet_the_specification') %></th>
      <th><%= t('assignment.submission_grade.label.point') %></th>
      <th style="width: 20%;"><%= t('assignment.submission_grade.label.comment') %></th>
      <th><%= t('assignment.submission_grade.label.mandatory') %></th>
    </tr>
  </thead>
  <tbody>
    <% can_not_be_regrade_criteriums.each do |criteria| %>
      <tr>
        <th><%= criteria.index %></th>
        <td><span><%= criteria.weight %></span></td>
        <td><span><%= criteria.meet_the_specification %></span></td>
        <td>
          <%= render :partial => "graded_criteriums/status", :locals => {cr_type: criteria.criteria_type, cr_status: criteria.status, cr_point: criteria.point} %>
        </td>
        <td><span><%= criteria.comment %></span></td>
        <td>
          <%= render :partial => "graded_criteriums/mandatory", :locals => {mandatory: criteria.mandatory} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
