<%= simple_form_for graded_rubric, url: :grade_rubric, method: :post do |form| %>

  <!--Area form showing confirm-->
  <div>
    <ul>
      <% graded_rubric.graded_criteriums.each do |criterium| %>
        <li><strong><%="#{t('assignment.submission_grade.label.criteria')} #{criterium.index}" %></strong>
          <% if criterium.mandatory %>
            <strong>(<%= t('assignment.submission_grade.label.mandatory_yes') %>) :</strong>
          <% else %>
            <strong> :</strong>
          <% end %>
          <% if criterium.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
            <%= criterium.status %>
          <% else %>
            <%= criterium.point %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <p>
    <strong><%= t('assignment.submission_grade.label.total_point') %>: </strong>  <%= pre_calculate_point(graded_rubric) %>
  </p>
  <p>
    <strong><%= t('assignment.submission_grade.label.grade_status') %>: </strong> <%= pre_calculate_status(graded_rubric) %>
  </p>
  <hr>

  <!--    Hidden area-->
  <div hidden>
    <%= form.input :submission_grade_id, as: :hidden, value: graded_rubric.submission_grade_id %>
    <!-- Grading Criteria -->
    <table class="table table-bordered table-hover">
      <tbody>
      <%= form.simple_fields_for :graded_criteriums do |criteria| %>
        <tr>
          <th><%= criteria.object.index %></th>
          <%= criteria.input :index, as: :hidden, value: criteria.object.index %>
          <td><span><%= criteria.object.weight %></span></td>
          <%= criteria.input :weight, as: :hidden, value: criteria.object.weight %>
          <%= criteria.input :mandatory, as: :hidden, value: criteria.object.mandatory %>
          <td>
            <span><%= criteria.object.criteria_description %></span>
            <%= criteria.input :criteria_description, as: :hidden, value: criteria.object.criteria_description %>
          </td>
          <td><span><%= criteria.object.outcome %></span></td>
          <%= criteria.input :outcome, as: :hidden, value: criteria.object.outcome %>
          <td><span><%= criteria.object.meet_the_specification %></span></td>
          <%= criteria.input :meet_the_specification, as: :hidden, value: criteria.object.meet_the_specification %>
          <%= criteria.input :criteria_type, as: :hidden, value: criteria.object.criteria_type %>
          <td>
            <% if criteria.object.criteria_type == Constants::CRITERIA_TYPE_PASS_FAIL %>
              <%= criteria.input :status, as: :hidden, value: criteria.object.status %>
            <% else %>
              <%= criteria.input :point, as: :hidden, value: criteria.object.point %>
            <% end %>
          </td>
          <td><%= criteria.input :comment, as: :text, :label => false, :input_html => {:rows => 3} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= form.input :comment, :input_html => {:rows => 3} %>
  </div>

  <!--  Confirmation area-->
  <div>
    <%= link_to t('assignment.submission_grade.action.cancel'), :back, class: 'btn btn-danger' %>
    <%= form.button :submit, t('assignment.submission_grade.action.confirm'), class: 'btn btn-primary' %>

  </div>
<% end %>