<%= form_with(model: criteria_format, local: true) do |form| %>
  <% if criteria_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criteria_format.errors.count, "error") %> prohibited this criteria_format from being saved:</h2>

      <ul>
      <% criteria_format.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rubric_id %>
    <%= form.text_field :rubric_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="field">
    <%= form.label :required %>
    <%= form.check_box :required %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
