<p id="notice"><%= notice %></p>

<p>
  <strong>Rubric:</strong>
  <%= @criteria_format.rubric %>
</p>

<p>
  <strong>Description:</strong>
  <%= @criteria_format.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @criteria_format.point %>
</p>

<p>
  <strong>Required:</strong>
  <%= @criteria_format.required %>
</p>

<%= link_to 'Edit', edit_criteria_format_path(@criteria_format) %> |
<%= link_to 'Back', criteria_formats_path %>
