<h2>My active assignments</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Course instance</th>
      <th>Assignment name</th>
      <th>Status</th>
      <!--      <th>Score</th>-->
    </tr>
    </thead>
    <tbody>
    <% row_count = 0 %>
    <% assignments.each do |assignment| %>
      <% unless assignment.nil? %>
        <tr>
          <% row_count = row_count + 1 %>
          <th><%= row_count %></th>
          <td><%= assignment.course_instance.code %></td>
          <td><%= assignment.name %></td>
          <td><%= assignment.status_of_learner(current_user.id) %></td>
          <!--        <th><%#=  %></th>-->
          <td>
            <% if student_can_submit?(assignment.id, current_user.id) %>
              <div><%= link_to 'Submit solution', new_submission_grade_path(:assignment => assignment) %></div>
            <% else %>
              <div>You submitted solution for this assignment</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>