<div class="" id="filterrific_results">

  <div>
    <%= simple_format page_entries_info submissions %>
  </div>

  <table class="table table-stripped table-hover table-bordered">
    <thead>
    <tr>
      <th>Status</th>
      <th>Assignment</th>
      <th>Submission</th>
      <th>Attempts</th>
      <th>Submitted at</th>
      <th>Assigned at</th>
      <th colspan="2">Point</th>
    </tr>
    </thead>
    <tbody>
    <% submissions.each do |submission| %>
      <tr>
        <td><%= submission.status %></td>
        <td><%= submission.assignment.display_name %></td>
        <td><%= (submission.submission_file.attached?) ? link_to("Download", rails_blob_path(submission.submission_file, disposition: "attachment")) : '' %></td>
        <td><%= submission.attempt %></td>
        <td><%= submission.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= submission.assigned_at.nil? ? '' : submission.assigned_at.strftime('%d/%m/%Y') %></td>
        <td><%= (submission.status == Constants::SUBMISSION_GRADE_STATUS_PASSED ||
            submission.status == Constants::SUBMISSION_GRADE_STATUS_NOT_PASSED) ? submission.point : 'N/A' %></td>
        <td>
          <% if current_user.mentor? || current_user.admin? %>
            <%= link_to "View", submission_grade_path(submission) %>
            <% if submission.status == Constants::SUBMISSION_GRADE_STATUS_ASSIGNED %>
              |
              <% unless submission.graded_rubric.nil? %>
                <%= link_to "Grade", load_rubric_path(submission.graded_rubric) %>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate submissions %>