<div>
  <% if current_user.admin? %>
    <!--    Admin home page-->
    <ul>
      <li><%= link_to "Program", programs_path %></li>
      <li><%= link_to "Course", courses_path %></li>
      <li><%= link_to "Course Instance", course_instances_path %></li>
      <li><%= link_to "Assignment", assignments_path %></li>
      <li><%= link_to "Rubric", rubrics_path %></li>
      <li><%= link_to "Enrollment", enrollments_path %></li>
      <li><%= link_to "Submission Grade", submission_grades_path %></li>
      <li><%= link_to "Graded Rubric", graded_rubrics_path %></li>
    </ul>
  <% elsif current_user.learner? %>
    <!--Learner home page-->
    <li><%= link_to "My courses", my_courses_path %></li>
    <li><%= link_to "My assignments", active_assignments_path %></li>
  <% elsif current_user.mentor? %>
    <!--Mentor home page-->
    <%= link_to "Assigned submissions", assigned_submissions_path %>
  <% else %>
<!--  Some thing to-do here-->
  <% end %>
</div>