<%= form_with(model: course_instance, local: true) do |form| %>
  <% if course_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_instance.errors.count, "error") %> prohibited this course_instance from being saved:</h2>

      <ul>
        <% course_instance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.collection_select(:program_id, Program.all, :id, :code, {:prompt => 'Select a Program', :selected => @course_instance.program_id}, {class: 'form-control'}) %>
  </div>

  <div class="field">
    <%= form.collection_select(:course_id, Course.all, :id, :code, {:prompt => 'Select a Course', :selected => @course_instance.course_id}, {class: 'form-control'}) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
