<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @course_instance.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course_instance.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_instance.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course_instance.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course_instance.end_date %>
</p>

<p>
  <strong>Program:</strong>
  <%= @course_instance.program.code %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_instance.course.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course_instance.status %>
</p>
<% if @course_instance.assignments.exists? %>
  <h2>List of assignments</h2>
  <% @course_instance.assignments.each do |assignment| %>
    <p>
      <%= link_to assignment.name, assignment_path(assignment) %>
    </p>
  <% end %>
<% else %>
  <p>This instance has no assignment</p>
<% end %>
<div class="row">
  <%= link_to 'Create Assignment', new_assignment_path(:course_instance_id => @course_instance.id), class: 'btn btn-primary' %>
</div>

<hr>
<%= link_to 'Edit', edit_course_instance_path(@course_instance) %> |
<%= link_to 'Back', course_instances_path %>
