<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enrollment.user.email %>
</p>

<p>
  <strong>Course instance:</strong>
  <%= @enrollment.course_instance.code %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @enrollment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @enrollment.end_date %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @enrollment.is_active %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
