<% need_interview = need_interview?(submission.id) %>
<% sg_decorated = SubmissionGradeDecorator.new(submission) %>

<tr>
  <td><%= render :partial => "submission_grades/shared/status", :locals => {status: submission.status} %></td>
  <td><%= submission.student.email %></td>
  <td><%= render :partial => "submission_grades/shared/submission_file", :locals => {submission: submission} %></td>
  <td><%= submission.assignment.course_instance.code %></td>
  <td><%= submission.assignment.name %></td>
  <td><%= submission.attempt.to_s %></td>
  <td><%= sg_decorated.assigned_at_frm %></td>
  <td><%= sg_decorated.point_frm %></td>
  <td><%= need_interview && submission.assigned? ? 'Need interview' : '' %></td>
  <td><%= render :partial => "submission_grades/shared/actions", :locals => {submission: submission} %></td>
</tr>
