<%= semantic_form_for graded_criterium do |criteria| %>
  <% if graded_criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graded_criterium.errors.count, "error") %> prohibited this graded_criterium from being
        saved:</h2>

      <ul>
        <% graded_criterium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= "Criteria #{criteria.object.index}" %>
  <%= criteria.object.description %>
  <%= criteria.input :status, :as => :select, :default => nil %>
  <%= criteria.input :comment, as: :text, :input_html => {:rows => 5} %>
<% end %>
