<p id="notice"><%= notice %></p>

<h1>Graded Criteria</h1>

<table>
  <thead>
    <tr>
      <th>Graded rubric</th>
      <th>Description</th>
      <th>Point</th>
      <th>Required</th>
      <th>Is passed</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graded_criteria.each do |graded_criterium| %>
      <tr>
        <td><%= graded_criterium.graded_rubric %></td>
        <td><%= graded_criterium.description %></td>
        <td><%= graded_criterium.point %></td>
        <td><%= graded_criterium.required %></td>
        <td><%= graded_criterium.is_passed %></td>
        <td><%= graded_criterium.comment %></td>
        <td><%= link_to 'Show', graded_criterium %></td>
        <td><%= link_to 'Edit', edit_graded_criterium_path(graded_criterium) %></td>
        <td><%= link_to 'Destroy', graded_criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graded Criterium', new_graded_criterium_path %>
