<p id="notice"><%= notice %></p>

<p>
  <strong>Graded rubric:</strong>
  <%= @graded_criterium.graded_rubric %>
</p>

<p>
  <strong>Description:</strong>
  <%= @graded_criterium.description %>
</p>

<p>
  <strong>Point:</strong>
  <%= @graded_criterium.point %>
</p>

<p>
  <strong>Required:</strong>
  <%= @graded_criterium.required %>
</p>

<p>
  <strong>Status:</strong>
  <%= @graded_criterium.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @graded_criterium.comment %>
</p>

<%= link_to 'Edit', edit_graded_criterium_path(@graded_criterium) %> |
<%= link_to 'Back', graded_criteria_path %>
