<%= content_for :javascript_includes do %>
  <%= javascript_include_tag 'devise/new_session.js' %>
<% end %>

<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div id='usernameLogin' class='d-none'>
        <%= form_for(resource, class: 'd-none', as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3">
            <%= f.email_field :email, class: "form-control", placeholder: "Email", autocomplete: "email" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <% if devise_mapping.rememberable? %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                <% end %>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        <% end %>
        <a href='' id='loginWithOauth'><%= t('devise.sessions.login_btn_google') %></a>
      </div>
      <div id='oauthLogin'>
        <div class="social-auth-links text-center mb-3">
          <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> <%= t('devise.sessions.login_btn_google') %>
          </a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
        <a href='' id='loginWithUsername'><%= t('devise.sessions.login_with_username') %></a> 
        </p>
      </div>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
