<%= content_for :javascript_includes do %>
  <%= javascript_include_tag 'devise/new_session.js' %>
<% end %>

<div class="jumbotron" style="margin-top: 10%" id='oauthLogin'>
  <h2 class="lead"><%= t('welcome_message') %></h2>
  <hr class="my-4">
  <p><%= t('welcome_login') %></p>
  <%- if devise_mapping.omniauthable? %>
    <a href='<%= user_google_oauth2_omniauth_authorize_path %>' >
      <button class="btn btn-primary btn-lg"><%= t('devise.sessions.login_btn_google') %></button>
    </a>
    <br>
    <br>
    <a href='' id='loginWithUsername'><%= t('devise.sessions.is_pxu_login_here') %></a> 
  <% end %>

</div>

<div class="container d-none" style="padding-top:10% !important;" id='usernameLogin'>

  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label :email, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autocomplete: "email" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "current-password" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group row" >
      <div class="col-sm-8 offset-sm-2">
        <%= f.submit "Log in", class: "form-control btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <a href='' id='loginWithOauth'><%= t('devise.sessions.login_btn_google') %></a>
</div>
