<p id="notice"><%= notice %></p>

<h1>Rubrics</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Type</th>
      <th>Status</th>
      <th>Cr1 des</th>
      <th>Cr1 score</th>
      <th>Cr1 enable</th>
      <th>Cr2 des</th>
      <th>Cr2 score</th>
      <th>Cr2 enable</th>
      <th>Cr3 des</th>
      <th>Cr3 score</th>
      <th>Cr3 enable</th>
      <th>Cr4 des</th>
      <th>Cr4 score</th>
      <th>Cr4 enable</th>
      <th>Cr5 des</th>
      <th>Cr5 score</th>
      <th>Cr5 enable</th>
      <th>Cr6 des</th>
      <th>Cr6 score</th>
      <th>Cr6 enable</th>
      <th>Cr7 des</th>
      <th>Cr7 score</th>
      <th>Cr7 enable</th>
      <th>Cr8 des</th>
      <th>Cr8 score</th>
      <th>Cr8 enable</th>
      <th>Cr9 des</th>
      <th>Cr9 score</th>
      <th>Cr9 enable</th>
      <th>Cr10 des</th>
      <th>Cr10 score</th>
      <th>Cr10 enable</th>
      <th>Cr11 des</th>
      <th>Cr11 score</th>
      <th>Cr11 enable</th>
      <th>Cr12 des</th>
      <th>Cr12 score</th>
      <th>Cr12 enable</th>
      <th>Cr13 des</th>
      <th>Cr13 score</th>
      <th>Cr13 enable</th>
      <th>Cr14 des</th>
      <th>Cr14 score</th>
      <th>Cr14 enable</th>
      <th>Cr15 des</th>
      <th>Cr15 score</th>
      <th>Cr15 enable</th>
      <th>Cr16 des</th>
      <th>Cr16 score</th>
      <th>Cr16 enable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rubrics.each do |rubric| %>
      <tr>
        <td><%= rubric.assignment %></td>
        <td><%= rubric.type %></td>
        <td><%= rubric.status %></td>
        <td><%= rubric.cr1_des %></td>
        <td><%= rubric.cr1_score %></td>
        <td><%= rubric.cr1_enable %></td>
        <td><%= rubric.cr2_des %></td>
        <td><%= rubric.cr2_score %></td>
        <td><%= rubric.cr2_enable %></td>
        <td><%= rubric.cr3_des %></td>
        <td><%= rubric.cr3_score %></td>
        <td><%= rubric.cr3_enable %></td>
        <td><%= rubric.cr4_des %></td>
        <td><%= rubric.cr4_score %></td>
        <td><%= rubric.cr4_enable %></td>
        <td><%= rubric.cr5_des %></td>
        <td><%= rubric.cr5_score %></td>
        <td><%= rubric.cr5_enable %></td>
        <td><%= rubric.cr6_des %></td>
        <td><%= rubric.cr6_score %></td>
        <td><%= rubric.cr6_enable %></td>
        <td><%= rubric.cr7_des %></td>
        <td><%= rubric.cr7_score %></td>
        <td><%= rubric.cr7_enable %></td>
        <td><%= rubric.cr8_des %></td>
        <td><%= rubric.cr8_score %></td>
        <td><%= rubric.cr8_enable %></td>
        <td><%= rubric.cr9_des %></td>
        <td><%= rubric.cr9_score %></td>
        <td><%= rubric.cr9_enable %></td>
        <td><%= rubric.cr10_des %></td>
        <td><%= rubric.cr10_score %></td>
        <td><%= rubric.cr10_enable %></td>
        <td><%= rubric.cr11_des %></td>
        <td><%= rubric.cr11_score %></td>
        <td><%= rubric.cr11_enable %></td>
        <td><%= rubric.cr12_des %></td>
        <td><%= rubric.cr12_score %></td>
        <td><%= rubric.cr12_enable %></td>
        <td><%= rubric.cr13_des %></td>
        <td><%= rubric.cr13_score %></td>
        <td><%= rubric.cr13_enable %></td>
        <td><%= rubric.cr14_des %></td>
        <td><%= rubric.cr14_score %></td>
        <td><%= rubric.cr14_enable %></td>
        <td><%= rubric.cr15_des %></td>
        <td><%= rubric.cr15_score %></td>
        <td><%= rubric.cr15_enable %></td>
        <td><%= rubric.cr16_des %></td>
        <td><%= rubric.cr16_score %></td>
        <td><%= rubric.cr16_enable %></td>
        <td><%= link_to 'Show', rubric %></td>
        <td><%= link_to 'Edit', edit_rubric_path(rubric) %></td>
        <td><%= link_to 'Destroy', rubric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rubric', new_rubric_path %>
