<%= form_with(model: graded_rubric, local: true) do |form| %>
  <% if graded_rubric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graded_rubric.errors.count, "error") %> prohibited this graded_rubric from being saved:</h2>

      <ul>
        <% graded_rubric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row col-12">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Graded/Point</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
      <%= form.fields_for :graded_criteriums, graded_rubric.graded_criteriums do |criterium_form| %>
        <tr>
          <th><%= criterium_form.text_field :index, :disabled => true %></th>
          <td><%= criterium_form.text_area :description, :disabled => true %></td>
          <td><%= criterium_form.check_box :is_passed %></td>
          <td><%= criterium_form.text_area :comment %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="row col-12">
      <%= form.label :comment %>
      <%= form.text_area :comment %>
    </div>

  </div>
  <div class="actions">
    <%= form.submit "Grade", :class => 'btn btn-primary' %>
  </div>
<% end %>