<p id="notice"><%= notice %></p>

<p>
  <strong>Rubric:</strong>
  <%= @graded_rubric.rubric %>
</p>

<p>
  <strong>Type:</strong>
  <%= @graded_rubric.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @graded_rubric.status %>
</p>

<p>
  <strong>Point:</strong>
  <%= @graded_rubric.point %>
</p>

<p>
  <strong>Cr1 des:</strong>
  <%= @graded_rubric.cr1_des %>
</p>

<p>
  <strong>Cr1 score:</strong>
  <%= @graded_rubric.cr1_score %>
</p>

<p>
  <strong>Cr1 enable:</strong>
  <%= @graded_rubric.cr1_enable %>
</p>

<p>
  <strong>Cr2 des:</strong>
  <%= @graded_rubric.cr2_des %>
</p>

<p>
  <strong>Cr2 score:</strong>
  <%= @graded_rubric.cr2_score %>
</p>

<p>
  <strong>Cr2 enable:</strong>
  <%= @graded_rubric.cr2_enable %>
</p>

<p>
  <strong>Cr3 des:</strong>
  <%= @graded_rubric.cr3_des %>
</p>

<p>
  <strong>Cr3 score:</strong>
  <%= @graded_rubric.cr3_score %>
</p>

<p>
  <strong>Cr3 enable:</strong>
  <%= @graded_rubric.cr3_enable %>
</p>

<p>
  <strong>Cr4 des:</strong>
  <%= @graded_rubric.cr4_des %>
</p>

<p>
  <strong>Cr4 score:</strong>
  <%= @graded_rubric.cr4_score %>
</p>

<p>
  <strong>Cr4 enable:</strong>
  <%= @graded_rubric.cr4_enable %>
</p>

<p>
  <strong>Cr5 des:</strong>
  <%= @graded_rubric.cr5_des %>
</p>

<p>
  <strong>Cr5 score:</strong>
  <%= @graded_rubric.cr5_score %>
</p>

<p>
  <strong>Cr5 enable:</strong>
  <%= @graded_rubric.cr5_enable %>
</p>

<p>
  <strong>Cr6 des:</strong>
  <%= @graded_rubric.cr6_des %>
</p>

<p>
  <strong>Cr6 score:</strong>
  <%= @graded_rubric.cr6_score %>
</p>

<p>
  <strong>Cr6 enable:</strong>
  <%= @graded_rubric.cr6_enable %>
</p>

<p>
  <strong>Cr7 des:</strong>
  <%= @graded_rubric.cr7_des %>
</p>

<p>
  <strong>Cr7 score:</strong>
  <%= @graded_rubric.cr7_score %>
</p>

<p>
  <strong>Cr7 enable:</strong>
  <%= @graded_rubric.cr7_enable %>
</p>

<p>
  <strong>Cr8 des:</strong>
  <%= @graded_rubric.cr8_des %>
</p>

<p>
  <strong>Cr8 score:</strong>
  <%= @graded_rubric.cr8_score %>
</p>

<p>
  <strong>Cr8 enable:</strong>
  <%= @graded_rubric.cr8_enable %>
</p>

<p>
  <strong>Cr9 des:</strong>
  <%= @graded_rubric.cr9_des %>
</p>

<p>
  <strong>Cr9 score:</strong>
  <%= @graded_rubric.cr9_score %>
</p>

<p>
  <strong>Cr9 enable:</strong>
  <%= @graded_rubric.cr9_enable %>
</p>

<p>
  <strong>Cr10 des:</strong>
  <%= @graded_rubric.cr10_des %>
</p>

<p>
  <strong>Cr10 score:</strong>
  <%= @graded_rubric.cr10_score %>
</p>

<p>
  <strong>Cr10 enable:</strong>
  <%= @graded_rubric.cr10_enable %>
</p>

<p>
  <strong>Cr11 des:</strong>
  <%= @graded_rubric.cr11_des %>
</p>

<p>
  <strong>Cr11 score:</strong>
  <%= @graded_rubric.cr11_score %>
</p>

<p>
  <strong>Cr11 enable:</strong>
  <%= @graded_rubric.cr11_enable %>
</p>

<p>
  <strong>Cr12 des:</strong>
  <%= @graded_rubric.cr12_des %>
</p>

<p>
  <strong>Cr12 score:</strong>
  <%= @graded_rubric.cr12_score %>
</p>

<p>
  <strong>Cr12 enable:</strong>
  <%= @graded_rubric.cr12_enable %>
</p>

<p>
  <strong>Cr13 des:</strong>
  <%= @graded_rubric.cr13_des %>
</p>

<p>
  <strong>Cr13 score:</strong>
  <%= @graded_rubric.cr13_score %>
</p>

<p>
  <strong>Cr13 enable:</strong>
  <%= @graded_rubric.cr13_enable %>
</p>

<p>
  <strong>Cr14 des:</strong>
  <%= @graded_rubric.cr14_des %>
</p>

<p>
  <strong>Cr14 score:</strong>
  <%= @graded_rubric.cr14_score %>
</p>

<p>
  <strong>Cr14 enable:</strong>
  <%= @graded_rubric.cr14_enable %>
</p>

<p>
  <strong>Cr15 des:</strong>
  <%= @graded_rubric.cr15_des %>
</p>

<p>
  <strong>Cr15 score:</strong>
  <%= @graded_rubric.cr15_score %>
</p>

<p>
  <strong>Cr15 enable:</strong>
  <%= @graded_rubric.cr15_enable %>
</p>

<p>
  <strong>Cr16 des:</strong>
  <%= @graded_rubric.cr16_des %>
</p>

<p>
  <strong>Cr16 score:</strong>
  <%= @graded_rubric.cr16_score %>
</p>

<p>
  <strong>Cr16 enable:</strong>
  <%= @graded_rubric.cr16_enable %>
</p>

<%= link_to 'Edit', edit_graded_rubric_path(@graded_rubric) %> |
<%= link_to 'Back', graded_rubrics_path %>
