<%= form_with(model: submission_grade, local: true) do |form| %>
  <% if submission_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission_grade.errors.count, "error") %> prohibited this submission_grade from being
        saved:</h2>

      <ul>
        <% submission_grade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= form.label :assignment_id %>
    <%= form.text_field :assignment_id %>
  </div>

  <div class="field">
    <%= form.label :assignment_code %>
    <%= form.text_field :assignment_code, {:value => @submission_grade.assignment.name, :disabled => true} %>
  </div>
  <div class="field" hidden>
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :student_email %>
    <%= form.text_field :student_email, {:value => current_user.email, :disabled => true} %>
  </div>

  <div class="field" hidden>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :submission_file %>
    <% if @submission_grade.submission_file.attached? %>
      <%= link_to "Submission File", rails_blob_path(@submission_grade.submission_file, disposition: "attachment") %>
    <% else %>
      <%= form.file_field :submission_file, :required => true %>

      <%#= form.file_field :submission_file, direct_upload: true, :required => true %>

  <% end %>

  </div>

  <div class="field" hidden>
    <%= form.label :attempt_count %>
    <%= form.number_field :attempt_count %>
  </div>

  <div class="field" hidden>
    <%= form.label :latest %>
    <%= form.check_box :latest %>
  </div>

  <div class="field" hidden>
    <%= form.label :mentor_id %>
    <%= form.collection_select(:mentor_id, User.all, :id, :email, {:prompt => 'Select a Mentor', :selected => @submission_grade.mentor_id}, {class: 'form-control'}) %>
  </div>

  <div class="field" hidden>
    <%= form.label :graded_rubric_id %>
    <%= form.text_field :graded_rubric_id %>
  </div>

  <div class="field" hidden>
    <%= form.label :graded_file %>
    <%= form.file_field :graded_file %>
  </div>

  <div class="field" hidden>
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="actions">
    <%= form.submit "Submit solution" %>
  </div>
<% end %>
