<h2>Submission information</h2>
<div class="container">
  <div class="row">
    <table class='table'>
      <tr>
        <th>Assignment:</th>
        <td> <%= @submission_grade.assignment.name %></td>
      </tr>
      <tr>
        <th>Course instance:</th>
        <td><%= @submission_grade.assignment.course_instance.code %></td>
      </tr>
      <tr>
        <th>Student:</th>
        <td><%= @submission_grade.student.email %></td>
      </tr>
      <tr>
        <th>Submission status:</th>
        <td><%= @submission_grade.submission_status %></td>
      </tr>
      <tr>
        <th>Submission file:</th>
        <td>
          <% if @submission_grade.submission_file.attached? %>
            <%= link_to "Submission File", rails_blob_path(@submission_grade.submission_file, disposition: "attachment") %>
          <% else %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Attempt count:</th>
        <td><%= @submission_grade.attempt_count %></td>
      </tr>
    </table>
  </div>
  <hr>
  <h2>Grading area</h2>
  <div class="row">

    <%= form_for :submission_grade do |form| %>

      <% if @submission_grade.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(submission_grade.errors.count, "error") %> prohibited this submission_grade from being
            saved:</h2>

          <ul>
            <% @submission_grade.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= hidden_field_tag :submission_id, @submission_grade.id %>

      <% if @submission_grade.assignment.rubric.nil? %>
        <table class="table">
          <tbody>
          <tr>
            <th><%= form.label :point %></th>
            <td><%= form.text_field :point %></td>
          </tr>
          <tr>
            <th>Additional grading file</th>
            <td>
              <% if @submission_grade.graded_file.attached? %>
                <%= link_to "Submission File", rails_blob_path(@submission_grade.graded_file, disposition: "attachment") %>
              <% else %>
                <%= form.file_field :graded_file, direct_upload: true %>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="actions">
            <%= link_to "Back", :back, class: 'btn btn-secondary' %>
            <%= form.submit "Grade", :class => 'btn btn-primary' %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="actions">
            <%= link_to "Back", :back, class: 'btn btn-secondary'  %>
            <%= link_to "Grade", edit_graded_rubric_path(@submission_grade.graded_rubric), :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>