<p id="notice"><%= notice %></p>

<div>
  <table class='table'>
    <tr>
      <th>Assignment:</th>
      <td> <%= @submission_grade.assignment.name %></td>
    </tr>
    <tr>
      <th>Course instance:</th>
      <td><%= @submission_grade.assignment.course_instance.code %></td>
    </tr>
    <tr>
      <th>Student:</th>
      <td><%= @submission_grade.student.email %></td>
    </tr>
    <tr>
      <th>Submission status:</th>
      <td><%= @submission_grade.submission_status %></td>
    </tr>
    <tr>
      <th>Submission file:</th>
      <td>
        <% if @submission_grade.submission_file.attached? %>
          <%= link_to "Submission File", rails_blob_path(@submission_grade.submission_file, disposition: "attachment") %>
        <% else %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Attempt count:</th>
      <td><%= @submission_grade.attempt_count %></td>
    </tr>
    <tr>
      <th>Mentor:</th>
      <td>
        <% if @submission_grade.mentor.nil? %>
        <% else %>
          <%= @submission_grade.mentor.email %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Graded rubric:</th>
      <td><%= @submission_grade.graded_rubric %></td>
    </tr>

    <tr>
      <th>Graded file:</th>
      <td>
        <% if @submission_grade.graded_file.attached? %>
          <%= link_to "Graded File", rails_blob_path(@submission_grade.graded_file, disposition: "attachment") %>
        <% else %>
        <% end %>
      </td>
    </tr>

    <tr>
      <th>Point:</th>
      <td><%= (@submission_grade.submission_status == Constants::SUBMISSION_GRADE_STATUS_ASSIGNED or @submission_grade.submission_status == Constants::SUBMISSION_GRADE_STATUS_SUBMITTED) ? 'N/A' : @submission_grade.point %></td>
    </tr>
  </table>
</div>

<% if current_user.learner? %>
  <%= link_to("Back", active_assignments_path).html_safe %>
<% elsif current_user.mentor? %>
  <%# if @submission_grade.student_id == @submission_grade.mentor_id %>
  <%= link_to "Back", assigned_submissions_path, class: 'btn btn-secondary' %>
  <% if @submission_grade.submission_status == Constants::SUBMISSION_GRADE_STATUS_SUBMITTED || @submission_grade.submission_status == Constants::SUBMISSION_GRADE_STATUS_ASSIGNED %>
    <%= link_to "Grade", grade_submission_path(:submission_id => @submission_grade.id), :class => 'btn btn-primary' %>
  <% end %>
<% elsif current_user.admin? %>

<% else %>

<% end %>
