<!DOCTYPE html>
<html>
<head>
  <title><%= t('system_name') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield :javascript_includes %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149352122-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-149352122-1');
  </script>

</head>

<body>
<% unless current_user.nil? %>
  <%= render 'shared/header' %>
<% end %>
<%= render 'shared/messages' %>
<div class="container">
  <%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
